<h1>Votre paiement est confirmé.</h1>
<h2>Merci pour votre inscription à <%=@event.title%> de <strong><%= @amount %> €</strong> !</h2>
<p>Un email vous a été envoyé à <%= current_user.email %> avec le récapitulatif de votre commande.</p>


